services:
  frontend:
    build:
      context: ./Frontend  
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on: 
      - backend

  backend:
    build:
      context: ./Backend 
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017
    networks:
      - app-network
    depends_on: 
      - mongo
    restart: unless-stopped
  mongo:
    image: mongo:latest  
    ports:
      - "27017:27017"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge